<h1>Bem-vindo!</h1>
<p>Esta é a página principal do seu novo aplicativo Rails.</p>

<div>
<% @recipes.each do |recipe| %>
  <div><%= link_to recipe.name, recipe_path(recipe) %></div>
  <div><%= link_to 'Editar', edit_recipe_path(recipe) %></div>
  <div><%= link_to 'Apagar', recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: 'Deseja apagar essa tarefa?' } %></div>
<% end %>
</div>